@import "./global/global.css";
@import "./global/header-nav.css";
@import "./index/header-hero.css";
@import "./index/main-offer.css";
@import "./index/main-expert.css";
@import "./index/main-steps.css";
@import "./index/faq.css";
@import "./index/about.css";
@import "./index/partners.css";
@import "./index/footer.css";
@import "./index/results.css";
@import "./index/testimonials.css";
@import "./index/cart.css";
@import "./index/perfect.css";
@import "./index/product-finance-course.css";
