@import "./global/global.css";
@import "./global/header-nav.css";
@import "./index/header-hero.css";
@import "./index/main-expert.css";
@import "./index/main-steps.css";
@import "./index/faq.css";
@import "./index/about.css";
@import "./index/partners.css";
