.about {
  padding: 80px 0;
}

.about__container {
  display: flex;
  gap: 40px;
  align-items: flex-start;
  max-width: 1200px;
  margin: auto;
}

.about__image img {
  width: 100%;
  border-radius: 8px;
}

.about__content {
  max-width: 550px;
}

.about__subtitle {
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 15px;
}

.about__list li {
  margin-bottom: 10px;
}
