.faq {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--expert-card-bg);

  .faq__image-container {
    width: 100%;
    height: auto;
    display: block;
    line-height: 0;
    position: relative;
  }

  .faq__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    max-width: none;
  }

  .faq__content {
    padding: 2rem 1.5rem;
    color: var(--faq-answer-color);
    font-size: 17px;
    font-family: "Source Sans 3", sans-serif;

    display: flex;
    justify-content: center;
  }

  .faq__content-item {
    width: 100%;
  }

  .faq__eyebrow {
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--header-secondary-color);
    letter-spacing: 1px;
    margin-bottom: 0.5rem;
    display: block;
  }

  .faq__eyebrow span {
    color: var(--header-main-color);
  }

  .faq__title {
    font-size: 34px;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    color: var(--ui-heading-color);
    margin-bottom: 1rem;
    line-height: 1.2;
  }

  .faq__subtitle {
    font-size: 19px;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    color: var(--ui-heading-color);
    display: block;
    margin-bottom: 1.5rem;
  }

  .faq__list {
    display: flex;
    flex-direction: column;
  }

  .faq__item {
    border-bottom: 1px solid var(--faq-answer-color);
  }

  .faq__item-toggle {
    width: 100%;
  }

  .faq__question {
    list-style: none;
    padding: 1.5rem 0;
    font-weight: 600;
    font-size: 22px;
    font-family: "Raleway", sans-serif;
    color: var(--ui-heading-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: color 0.3s ease;
  }

  .faq__question::-webkit-details-marker {
    display: none;
  }

  .faq__question::after {
    content: "+";
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--faq-answer-color);
    margin-left: 10px;
  }

  .faq__item-toggle[open] .faq__question::after {
    content: "-";
  }

  @media (min-width: 750px) {
    flex-direction: row;
    min-height: 600px;
    align-items: stretch;

    .faq__image-container {
      width: 50%;
      height: auto;
      position: relative;
    }

    .faq__image {
      position: absolute; 
      top: 0;
      left: 0;
      height: 100%;
      object-fit: cover;
    }

    .faq__content {
      width: 50%;
      padding: 4rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .faq__content-item {
      max-width: 570px;
      align-items: center;
    }

    .faq__title {
      font-size: 48px;
    }

    .faq__question {
      font-size: 24px;
    }
  }
}
