.header {
  background-color: var(--header-background-color);
  padding-bottom: 74px; /* when i write without px it does not work, why? */
}

.header__hero {
  padding: 0 24px;
  .header__hero-intro {
    text-align: left;

    .header__hero-tagline {
      font-size: 12px;
      color: var(--header-main-color);
      font-weight: 700;
    }

    .header__hero-title {
      font-family: var(--title-font);
      font-size: 56px;
      color: var(--ui-heading-color);
      font-weight: 600;
    }

    .header__hero-subtitle {
      font-size: 19px;
      color: var(--ui-heading-color);
      margin-top: 35px;
      font-weight: 600;
    }
  }
  .header__hero-content {
    margin-top: 50px;

    .header__hero-price-label {
      display: inline;
      font-family: var(--title-font);
      font-size: 17px;
      color: var(--header-hero-onlyfor-color);
      font-weight: 600;
      margin-right: 5px;
    }

    .header__hero-price {
      display: inline;
      font-family: var(--title-font);
      font-size: 34px;
      color: var(--header-secondary-color);
      font-weight: 700;
    }

    .header__hero-image--hands {
      margin-top: 25px;
      width: 100%;
      aspect-ratio: 1/0.75;
      object-fit: cover;
    }
  }
  .header__hero-image-section {
    margin-top: 20px;

    .header__hero-image--coach {
      width: 100%;
      height: 100%;
      aspect-ratio: 1;
      object-fit: cover;
    }
  }
  .header__hero-button {
    margin-top: 33px;
    justify-content: center;
    text-align: center;

    .header__hero-cta {
      padding: 12px 30px;
      margin: 10px;
      border: 2px solid var(--header-secondary-color);
      border-radius: 6px;
      background-color: var(--header-secondary-color);
      color: var(--expert-card-bg);
      text-decoration: none;
      font-size: 16.5px;
      font-weight: 600;
    }
  }

  .header__hero-info-section {
    margin-top: 33px;

    .header__hero-details {
      list-style: none;
      margin-top: 30px;

      .header__hero-detail-item {
        font-size: 17px;
        margin-bottom: 16px;
        color: var(--grey-text-color);
        display: flex;
        align-items: center;

        .header__hero-detail-icon {
          /*why when i change to span tag it does not working?*/
          display: inline-block;
          height: 18px;
          color: var(--header-secondary-color);
        }

        .header__hero-detail-label {
          margin-left: 10px;
        }
      }
    }
  }
  .header__hero-image {
    width: 100%;
    height: auto;
    border-radius: 12px;
  }
}
